.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    border: 2px solid transparent;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    font-family: monospace, sans-serif;
}

/* Variante neutro*/

.boton.neutro {
    background-color: #505050;
    color: #000;
    border-color: #000;
}
.boton.neutro:hover {
    background-color: #000;
    color: #505050;
    border-color: #505050;
}


/* Variante verde*/

.boton.verde {
    background-color: #333;
    color: #39FF14;
    border-color: #39FF14;
}
.boton.verde:hover {
    background-color: #39FF14;
    color: #333;
}

.boton.verde:hover .icono-boton svg {
    stroke: #333;
}

/* Variante azul*/

.boton.azul {
    background-color: #333;
    color: #06EBF7;
    border-color: #06EBF7;
}
.boton.azul:hover {
    background-color: #06EBF7;
    color: #333;
}

.boton.azul:hover .icono-boton svg {
    stroke: #333;
}


/* Variante roja*/

.boton.rojo {
    background-color: #333;
    color: #ff1818;
    border-color: #ff1818
}
.boton.rojo:hover {
    background-color: #ff1818;
    color: #333;
}

.boton.rojo:hover .icono-boton svg {
    stroke: #333;
}

/* Variante activa */

.boton.activo {
    background-color: #000;
    color: #505050;
    border-color: #505050;
}

.boton.activo:hover {
    background-color: #505050;
    color: #000;
    border-color: #000;
}