.gastos-tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.gastos-tabla::-webkit-scrollbar {
    display: none; 
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace, sans-serif;
}
  
.tabla thead {
    background-color: #25282e !important;
    color: #39FF14 !important;
    border: 0.1rem solid #484848 !important;
}
  
.t  {
    position: sticky;
    top: 0;
    z-index: 9;
}
  
.tabla th, .tabla td {
  padding: 12px 10px;
  text-align: center;
  font-family: monospace, sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
}
  
.tabla td {
    color:black;
    font-weight: 500;
}
  
.tabla tbody tr {
    background-color: black !important;
    color: #ffffff !important;
    transition: background-color 0.3s ease;
}
  
.tabla tbody tr:hover td {
  color: white !important;
  font-weight: 500;
}
  
.tabla input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: black;
  border: 0.1rem solid #484848;
  border-radius: 3px;
  position: relative;
}
    
.tabla input[type="checkbox"]:checked::after {
    content: "✓";
    color: #ffffff;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

