.sidebar {
  width: 320px;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 255, 106, 0.08), #000000 10%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  flex-shrink: 0;
  border-right: 0.1rem solid rgba(0, 255, 106, 0.3);
  box-shadow: 0.5rem 0rem 4rem rgba(0, 255, 106, 0.3);
}

.sidebar img {
  width: 18rem;
  height: 8rem;
  margin-bottom: 20px;
  border-radius: 25px;
  mask-image: radial-gradient(circle, black 50%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 50%, transparent 100%);
}
#logoOrbita {
  position: relative;
  width: 18rem;
  height: 8rem;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

#logoOrbita::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 50%;
  left: 54%;
  margin-top: -4.5rem;
  margin-left: -4.5rem;
  border-radius: 50%;
  border: 0.3rem solid #39ff14;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: girar 2s linear infinite;
  z-index: 3;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}
.slogan {
  padding-left: 3rem;
  text-align: start;
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Orbitron;
  border-top: 0.1rem solid rgba(0, 255, 106, 0.3);
  padding-top: 0.4rem;
}
@keyframes titilar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slogan span {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #39ff14;
  margin-right: 0.4rem;
  border-radius: 100%;
  animation: titilar 2.5s ease-in-out infinite;
}

.sidebar nav {
  text-align: center;
  width: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  margin-top: 0.8rem;
}
@keyframes levitar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.sidebar li {
  margin: 0.6rem 8px 0.2rem 2.5rem;
  width: 78%;
  text-align: left;
  display: flex;
  border-radius: 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.05);
}

.sidebar svg {
  flex-direction: row;
  padding-right: 5px;
}
.slidebar svg:hover {
  animation: levitar 0.5s ease-in-out infinite;
}
.sidebar a {
  width: 80%;
  font-family: "Nova Square", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}
.sidebar li:hover {
  border-bottom: 0.1rem solid #39ff14;
}

.sidebar li:hover svg {
  stroke: #39ff14;
  animation: levitar 1s ease-in-out infinite;
}

.sidebar a:hover {
  color: #39ff14;
}

.sidebar button {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid #39ff14;
  background-color: #333;
  color: #39ff14;
  padding: 5px;
  font-size: 20px;
  outline: none;
}

.logout {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 54%;
}

.logout:hover {
  transform: scale(1.05);
  background-color: #39ff14;
  color: #333;
}

.logout:hover svg {
  stroke: #333;
}

/* Estilos del modal */

.modal-s {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-contenedor-s {
  width: 620px;
  height: 270px;
  background-image: url(../assets/images/galaxiaModal.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  border: 0.2rem solid #39ff14 !important;
  box-shadow: 0rem 0rem 2rem #39ff14;
}

.modal-contenedor-s h2 {
  width: 500px;
  height: 40%;
  padding: 0;
  margin: 0;
  font-family: monospace, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-left: 50px;
  color: #ffffff;
}

#botoness-s {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

#botoness-s .boton.rojo,
#botoness-s .boton.verde {
  font-size: 22px;
}

@media (max-width: 430px) {
  .sidebar img {
    margin-top: 4rem;
  }

  .modal-contenedor-s {
    width: 90%;
  }

  .modal-contenedor-s h2 {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
  }
}
